{% extends 'base.html' %}

{% block container %}
<div style=""> 

    <div style="float:left">
    <iframe frameborder='0' scrolling='no' width='752px' height='480px'  src="/getcamera"></iframe>
    </div>
    <div style="float:left">
           <div style="float:left">
    <iframe frameborder='0' scrolling='no' width='520px' height='185px'   src="/sampleroation"></iframe>
        </div>
           <div>
    <iframe frameborder='0' scrolling='no' width='520px' height='190px'   src="/getSerialDilutionWidget"></iframe>
    </div>
    </div>
        
 
</div>

{% endblock %}
